{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1>Edit Customer</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('customer_index') }}" style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-info">Back</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
