{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('customer_index') }}" style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-info">Back</a>
{% endblock %}
