{% extends 'base.html.twig' %}

{% block title %}RentC{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Welcome to RentC</h1>
        <h5>Your brand new solution to manage and control your company's data without missing anything.</h5>
    </div>
{% endblock %}