{% extends 'base.html.twig' %}

{% block title %}RentC{% endblock %}

{% block body %}
    <p>Welcome to RentC, your brand new solution to manage and control your company's data without missing anything.</p>
{% endblock %}